.container {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  color: rgb(122, 122, 122);
  background-color: #ffffff;
  margin: 12px 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.studenInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
.studenInfo > strong:first-of-type {
  color: red;
}

.actionbuttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnDownload {
  padding: 10px 4px;
  width: 78px;
  border-radius: 3px;
  color: white;
  background-color: #00ad57;
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnDownload:hover {
  background-color: #108349;
}

.btnDelete {
  padding: 10px 4px;
  width: 78px;
  border-radius: 3px;
  color: white;
  background-color: #ec4b45;
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnDelete:hover {
  background-color: #da342e;
}

strong {
  text-decoration: underline;
  margin-right: 15px;
}
