.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: black;
}

.searchbox {
  flex: 1;
  font-size: 0.85rem;
  outline: none;
  border: none;
  
}

.searchboxCon {
  position: fixed;
  display: flex;
  padding: 20px 21px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
}

.list {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .searchboxCon {
    position: sticky;
    top: 46px;
    margin: 20px 0px;
  }
}
