.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
}

.searchbox {
  flex: 1;
  font-size: 0.85rem;
  padding: 13px;
  outline: none;
  border: none;
}

.searchboxCon {
  position: fixed;
  display: flex;
  bottom: 10px;
  left: 20px;
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .searchboxCon {
    position: sticky;
    top: 47px;
    background-color: #242424;
    margin: 20px 0px;
  }
  .searchbox {
    color: white;
    background-color: transparent;
  }
}
