.container {
  color: black;
}

.container h2 {
  color: #3089fd;
}

.container label {
  color: #397cd4;
  font-weight: 600;
}

.warningbox {
  display: none;
  padding: 15px;
  border: 2px;
  border: dotted;
  border-color: #db930c;
  color: #f5b847;
}

.form {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 60px;
}

.iwra {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.enbox {
  padding: 12px;
  margin-top: 4px;
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
  outline: none;
  border-radius: 5px;
  font-size: 1.05rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Helvetica,
    sans-serif;
}

.enbox:invalid {
  border: 2px solid #f54b08;
}
.enbox:focus {
  border: 2px solid #1077ff;
}

.radio {
  display: flex;
  flex-direction: column;
  color: #397cd4;
  font-weight: 600;
  gap: 6px;
}

.rgrp {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.rgrp input:focus {
  outline: 2px auto #397cd4;
  outline-offset: 2px;
}

.rgrp label {
  color: #00ad57;
}

.btnDownload {
  flex: 1;
  padding: 15px 30px;
  color: white;
  background-color: #00ad57;
  border: none;
  outline: none;
}

.btnDownload:hover {
  background-color: #04723b;
}

.btnDownload:focus {
  outline: 1px dashed white;
  background-color: #1077ff;
}
.btnsave {
  flex: 1;
  padding: 15px 30px;
  color: white;
  background-color: #ff651e;
  border: none;
  outline: none;
}

.btnsave:hover {
  background-color: #c05d0b;
}

.btnsave:focus {
  outline: 1px dashed white;
  background-color: #1077ff;
}
.buttongroup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.buttongroup input {
  font-size: 0.95rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 6px 50px;
  }
  .form {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .radio {
    flex-direction: column;
  }
  .rgrp {
    flex-direction: row;
    gap: 20px;
  }

  .btnsave {
    flex: 0;
  }
  .btnDownload {
    flex: 0;
  }
  .buttongroup {
    position: unset;
    justify-content: right;
    align-items: flex-end;
    gap: 6px;
  }
}
